.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.mypy_cache
.pytest_cache
venv
.venv
env
build
dist
*.egg-info
dataset
data_samples
models
models/**
OCR_bench
**/.DS_Store
intermediate_results
webapp/uploads
webapp/static/*
!webapp/static/.gitkeep

